


<div class="mainContainer">

  <div class="title">
    <img *ngIf="imgDetail" class="arrow"  src="../../assets/images/gallery/arrow.png" (click)="imgDetail = !imgDetail">
    <h1>Gallery</h1>
  </div>



  <div *ngIf="imgDetail" class="imgDetail">
    <div class="info">
      <h3 class="subtitle">{{artName}}</h3>
      <p><small>by </small>{{artist}}</p>
      <p>{{year}}</p>
    </div>
    <img src="{{imageUrl}}" alt="{{artName}} by {{artist}}">
  </div>



  <div class="rows" *ngIf="!imgDetail">
    <div class="column">
      <img *ngFor="let x of colOneImages" src="{{x.path}}" alt="{{x.artist}}" (click)="imageDetail(x.path, x.artist, x.name, x.year)">
    </div>

    <div class="column">
      <img *ngFor="let x of colTwoImages" src="{{x.path}}" alt="{{x.artist}}" (click)="imageDetail(x.path, x.artist, x.name, x.year)">
    </div>

    <div class="column">
      <img *ngFor="let x of colThreeImages" src="{{x.path}}" alt="{{x.artist}}" (click)="imageDetail(x.path, x.artist, x.name, x.year)">
    </div>

    <div class="column">
      <img *ngFor="let x of colFourImages" src="{{x.path}}" alt="{{x.artist}}" (click)="imageDetail(x.path, x.artist, x.name, x.year)">
    </div>
  </div>

</div>

<div *ngIf="!imgDetail" class="extraContainer"></div>

